
/* also need to fix all this bullshit as if mobile was the first option lol so it doesnt take longer to load lmao ik the concept of how to to it this w3 link explains it:

https://www.w3schools.com/css/css_rwd_mediaqueries.asp

lmfao lazy af rn i dont wanna fuck up the whole shit so im doin this rn
*/

/*another lmfao moment is that the only shit on here is the shit that needs to be changed for mobile view so if it isnt listed here it doesnt need to be changed */

@media only screen and (max-width: 768px){
  /* nav check!!!!! this one gonna b buggy for a min idk wtf im doing*/
  html{
    font-size: 4vw;
  }
  
  nav { 
  height: auto;
  background-color: rgba(1,1,1,0);
  justify-content: flex-start;
  flex-direction: column;
  font-family: 'Playfair Display SC';
}
  


.other {
    position: relative;
 

      position: relative;
  display: block;
    padding: 1vh;
    padding-top: 0;
  }
  .dropdown-baybee {
      z-index: 4;
  
      position: absolute;
  display: flex;
    flex-direction: column;
     background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 
  width: 50vw;
  height: 70vw;
 
}

 
 .show {display: none;}
  
.dropdown-baybee >div> a {
  color: #78797a;
  text-decoration: none;
   font-size: 3.5vh;
 
}
.mobile-home-button{
  display:block;
}

.other {
    position: relative;
    display: inline-block;
}


.header {
 align-self: flex-start;
  justify-self: flex-start;
  
  
  padding:0;
  margin: 0;
 

 
}

 
.header > a > img{
 border-radius: 1%;
  padding: 0;
  margin: 1vh;
  width: 5vh;
  height: 5vh;
   
  object-fit: cover;
}
  .header > a > img:nth-child(1){
    display: none;
  }
  .header > a > img:nth-child(2){
  display:block;
}




 /*blah blah dont need this
  
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
*/



/*  .hamburg:hover .dropdown-baybee{
    display: block;
  }
  
  */
  /*end nav*/
  
  /*home page chech*/
  .dumb-little-square{
    height: 60vh;
  width: 80vw;
  }
    
  /*end home page*/
    /*candidates.html*/
    .canContainer1 {
  overflow: hidden;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 3vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
  /*idk it made me carry this bullshit over*/
  .hidden {
  display: none;
}
  .canContainer1 > a{
margin:1vw;
  
  }
  .canContainer1 >a> div {
  
     width: 40vw;
  height: 40vw;
  }
  .canContainer1  >a> div> img {
  width: 30vw;
  height: 30vw;
  }
  
}

 