/*this shit right here is for all the hover bullshit bc on mobile it looks jank af*/
@media only screen and (min-width: 769px){
  
  .other>div:hover{
  cursor: pointer;
}
 .dropdown-content a:hover {background-color: #ddd;}

.can:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;} 
  
  .h1:hover {
  background-color: #cccecf;
}
  .canContainer1 > a> div:hover{
  box-shadow: 2px 2px 2px 2px #444445; 
  transform: scale(1.05); 
}
}

html {
  margin: 0px;
  padding: 0;

}

body {
  margin: 0;
}
/*NAv moment*/
nav {
  padding: 0;

  margin: 0;
    margin-bottom: 10vh;
  height: 10vh;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, .2);
  display: flex;
    font-family: 'Playfair Display SC';
}
nav > div {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2vh;

}
.mobile-home-button{
  display:none;
}
.dropdown-baybee >div> a {
  color: white;
  text-decoration: none;
   height: 10vh;
  width: auto;
}


.header {
  align-self: flex-start;
  justify-self: flex-start;
  
  padding:0;
  margin: 0; 
}

.header > a > img{
 border-radius: 50%;
  padding: 0;
  margin: 1vh;
  width: 8vh;
  height: 8vh;
  object-fit: cover;
}
.header > a > img:nth-child(2){
  display:none;
}
.dropdown-baybee {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90vw;
 
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/*end nav*/

.dumb-little-square {
  margin: auto;
  height: 60vh;
  width: 45vw;
  background-color: rgba(198, 226, 247, 1);
  margin-bottom: 10vh;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space around;
}
.dumb-little-square > div {
  background-color: rgba(198, 226, 247, 1);
  height: 10vh;
  text-align: center;
    text-decoration: underline;
}
.dumb-little-square > img{
  height: 50vh;
 
  object-fit: cover;
}

p {
  height: auto;
  text-align: center;

}

#showitems {
  position: relative;
  z-index: 3;
}
.bonga {
  opacity: .85;
  position: fixed;
  background-color: #a8a8a8;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
.body {
  position: fixed;
  margin: 0;

  padding: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
  background-image: url("https://bloximages.chicago2.vip.townnews.com/journalstar.com/content/tncms/assets/v3/editorial/4/da/4dae239e-bc3c-5c41-b961-66d910f24765/57e180b06a365.image.jpg?resize=990%2C650");
  /*guys im sorry this background just so goddamn ugly*/

  /*  background-image: url("https://media.istockphoto.com/photos/vote-election-badge-button-for-2020-background-vote-usa-2020-3d-3d-picture-id1141007609?k=6&m=1141007609&s=612x612&w=0&h=i9g1V0Z2xjxuB_egixNEuQNu8RrMAz4JaYc0aYp9744=");
  */
}

/*end index*/

/*canidates.html*/
.canBody {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;

  /*align-items: center;*/
  padding-top: 20vh;
}

.h1 {
  width: 100vw;
  background-color: #e6e7e8;
  height: 10vh;
  display: flex;
  cursor: pointer;
  align-items: center;
}



.canContainer1 {
  overflow: hidden;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 3vh;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}

.canContainer1 > a{
    color: black;
  text-decoration: none;
}

.canContainer1 >a> div {
  

  width: 15vw;
  height: 15vw;
  background-color: #e6e7e8;
  display: flex;
  flex-wrap: wrap;
  border: 5px solid #e6e7e8;
  border-radius: 1%;
  transition: all .1s linear;

  /* text-align: center;
  align-items: center;
  justify-content: center;*/
}

h4 {
  width: 5vw;
  height: 10vw;
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 12px;
}

.canContainer1  >a> div> img {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  align-items: flex-start;
}
.canContainer1 > a>div> p {
  align-self: flex-end;
  padding: 0;
  margin: 0;
}
.hidden {
  display: none;
}
.darkerH1{
  background-color: #cccecf;
}
/*end candidates html*/
.textBox > div {
  width: 100vw;
  height: 10vw;
  object-fit: cover;
  background-color: gray;
}




